name: dotnet package

on:
  push:
    tags: [v*.*]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['8.0']
    defaults:
      run:
        working-directory: ./FsGrpc.Tools
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v2.0.0
        with:
          dotnet-version: ${{ matrix.dotnet-version }}.x
      - name: Display version
        run: dotnet --version
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Package
        env:
          FSGRPCTOOLS_VERSION: ${{github.ref_name}}
        run: dotnet pack -p:FSGRPCTOOLS_VERSION=${FSGRPCTOOLS_VERSION#v} --no-restore --no-build --configuration Release
      - name: Nuget Push
        env:
          FSGRPCTOOLS_VERSION: ${{github.ref_name}}
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push bin/Release/FsGrpc.Tools.${FSGRPCTOOLS_VERSION#v}.nupkg --api-key "$NUGET_API_KEY" --source https://api.nuget.org/v3/index.json --skip-duplicate
      - name: GitHubRelease
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./FsGrpc.Tools/bin/Release/FsGrpc.Tools.$($env:GITHUB_REF -replace "refs/tags/").nupkg
